<div class="row mt-2">
  <div class="col-md-3 mb-3">
    <div class="card text-white bg-info h-100">
      <div class="card-header fw-bold">Client Management</div>
      <div class="card-body">
        <h5 class="card-title">CLIENT MANAGEMENT</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card text-white bg-primary h-100">
      <div class="card-header fw-bold">Order Form</div>
      <div class="card-body">
        <h5 class="card-title">Order Form</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card text-white bg-info h-100">
      <div class="card-header fw-dark">Sales View</div>
      <div class="card-body">
        <h5 class="card-title">Sales View</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card text-white bg-primary h-100">
      <div class="card-header fw-bold">Sales Analytics</div>
      <div class="card-body">
        <h5 class="card-title">Sales Analytics</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
</div>
