<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdeys">
<div class="row">
  <div class="col-sm-12">
	  	<div class="panel panel-default invoice" id="invoice">
		  <div class="panel-body">
			<div class="invoice-ribbon"><div class="ribbon-inner">PAID</div></div>
		    <div class="row">

				<div class="col-sm-6 top-left">
					<i class="fa fa-rocket"></i>
				</div>

				<div class="col-sm-6 top-right">
						<h3 class="marginright">INVOICE-12345678</h3>
						<span class="marginright">14 December 2023</span>
			    </div>

			</div>
			<hr>
			<div class="row">

				<div class="col-xs-4 from">
					<p class="lead marginbottom">From : CVMRR</p>
					<p>13, Milflores St.</p>
					<p>mayapyap Norte, Cabanatuan City</p>
					<p>Nueva Ecija, 3100</p>
					<p>Phone: 0999-454-3232</p>
					<p>Email: contact@cvmrr.com</p>
				</div>

				<div class="col-xs-4 to">
					<p class="lead marginbottom">To : John Doe</p>
					<p>425 Market Street</p>
					<p>Apartment 201, Cabanatuan City</p>
					<p>Nueva Ecija, 3100</p>
					<p>Phone: 0966-858-7319</p>
					<p>Email: john@doe.com</p>

			    </div>

			    <div class="col-xs-4 text-right payment-details">
					<p class="lead marginbottom payment-info">Payment details</p>
					<p>Date: 14 December 2023</p>
					<p>VAT: DK888-777 </p>
					<p>Total Amount: ₱991</p>
					<p>Account Name: J.Doe</p>
			    </div>

			</div>

			<div class="row table-row">
				<table class="table table-striped">
			      <thead>
			        <tr>
			          <th class="text-center" style="width:5%">#</th>
			          <th style="width:50%">Item</th>
			          <th class="text-right" style="width:15%">Quantity</th>
			          <th class="text-right" style="width:15%">Unit Price</th>
			          <th class="text-right" style="width:15%">Total Price</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			          <td class="text-center">1</td>
			          <td>350ml</td>
			          <td class="text-right">10</td>
			          <td class="text-right">₱18</td>
			          <td class="text-right">₱180</td>
			        </tr>
			        <tr>
			          <td class="text-center">2</td>
			          <td>500ml</td>
			          <td class="text-right">6</td>
			          <td class="text-right">₱59</td>
			          <td class="text-right">₱254</td>
			        </tr>
			        <tr>
			          <td class="text-center">3</td>
			          <td>1L</td>
			          <td class="text-right">4</td>
			          <td class="text-right">₱95</td>
			          <td class="text-right">₱285</td>
			        </tr>
			         <tr class="last-row">
			          <td class="text-center">4</td>
			          <td>5Gal Round</td>
			          <td class="text-right">1</td>
			          <td class="text-right">₱300</td>
			          <td class="text-right">₱300</td>
			        </tr>
			       </tbody>
			    </table>

			</div>

			<div class="row">
			<div class="col-xs-6 margintop">
				<p class="lead marginbottom">THANK YOU!</p>

				<button class="btn btn-success" id="invoice-print"><i class="fa fa-print"></i> Print Invoice</button>
				<button class="btn btn-danger"><i class="fa fa-envelope-o"></i> Mail Invoice</button>
			</div>
			<div class="col-xs-6 text-right pull-right invoice-total">
					  <p>Subtotal : ₱1019</p>
			          <p>Discount (10%) : ₱101 </p>
			          <p>VAT (8%) : ₱73 </p>
			          <p>Total : ₱991 </p>
			</div>
			</div>

		  </div>
		</div>
	</div>
</div>
</div>