<div class="card card-outline card-primary">
    <div class="card-header">
      <h3 class="card-title">Sales Report</h3>
    </div>
    <div class="card-body">
      <!-- ... other HTML code ... -->
      <div id="print_out">
        <table class="table table-bordered table-stripped" id="indi-list">
            <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Phone Number</th>
                  <th>Type</th>
                  <th class="text-right">Amount</th>
                </tr>
            </thead>
        <tbody>
            <tr *ngFor="let order of orders; let i = index">
              <td class="text-center">{{ i + 1 }}</td>
              <td>{{ order.firstName }} {{ order.lastName }}</td>
              <td>{{ order.house }}{{ order.barangay }}{{ order.city }}</td>
              <td>{{ order.phoneNumber }}</td>
              <td>{{ order.type }}</td>
              <td class="text-right">{{ order.amount }}</td>
            </tr>
        </tbody>
          <!-- ... table footer ... -->
        </table>
      </div>
    </div>
  </div>